@model UserInput


<h1>Enter City To Get Forecast</h1>

<form method="get" asp-action="Forecast" asp-controller="Home">
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" asp-for="City" class="form-control" required id="city" aria-describedby="cityHelp" placeholder="Enter city">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span asp-validation-for="City"></span>
    </div>

    <div class="form-group">
        <label for="days">Days</label>
        <input type="number" asp-for="Days" required class="form-control" id="days">
        <span asp-validation-for="Days"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>